#second_part, #second_part_impact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 90%;
    gap: 20px;
}
#second_part_impact ul {
    margin-left: 10%;
}
#second_part_impact li{
    font-size: 230%;
    font-family: open-sans, sans-serif;
    font-weight: bold;
}

#eye1 {
    margin: auto;
    width: 60%;
    transition: 0.5s;
}
#eye1:hover {
    transform: scale(1.2) rotate(3deg);;
    transition: 0.5s;
}

#third_part_global {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

#third_part, #third_part_impact {
    margin: auto;
    border: solid 1px rgb(31, 31, 31);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
#third_part li, #third_part_impact li {
    font-family: open-sans, sans-serif;
}
#third_part_impact li{
    font-size: 150%;
}
#female_chars {
    display: block;
    margin: auto;
    border-radius: 30px;
    width: 65%;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #decdff;
    border-top: solid;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
}

#footer_div1 img{
    width: 60%;
}

#footer_div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
}

#footer_div2 a, #footer_div2 li {
    text-decoration: none;
    list-style: none;
    color: rgb(31, 31, 31);
}

@media (max-width: 1029px) {
    #second_part {
        grid-template-columns: 1fr;
    }
    #second_part_impact {
        grid-template-columns: 1fr;
    }
    #third_part_global {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #eye1 {
        width: 20%;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 200%;
    }
    #footer_div2 {
        grid-template-columns: 1fr;
    }
    #footer_div1, #footer_div2, #footer_div3 {
        font-size: 70%;
    }
}